<h1 class="text-success text-center m-5">
  {{#if isPlaced}}
    ✅ Order Placed Successfully!<br>
    <a class="btn btn-success mt-5" href="/orders-list" >View Orders</a>
  {{else}}
    🕒 Order Pending Payment
  {{/if}}
</h1>
