<section>
    <div class="container" style="display: flex;height:350px; justify-content:center ; align-items: center">
        <div class="row" >
            <div >
                <div  style="display: flex; justify-content:center;">
                    <h3>Create New Account</h3>
                    <br>
                </div>
                <form action="/signup"   method="POST">
                    <div>
                        <label for="name" >Name</label>
                        <br>
                        <input type="text" name="name" class="form-control mb-3" placeholder="Full Name" style="width: 700px;">
                    </div>
                    <div>
                        <label for="email" >Email address</label>
                        <br>
                        <input type="email" name="email" class="form-control mb-3" placeholder="email" style="width:700px ">

                    </div>
                    <div>
                        <label for="password" >Password</label>
                        <br>
                        <input type="password" name="password" class="form-control mb-3" placeholder="password" style="width: 700px;">
                    </div>
                    
                    <div style=" display:flex; justify-content:space-between">
                    <a href="/login" style="text-decoration: none;" >Already Have an Account?<a>
                    <button type="submit" class="btn btn-success"  >Signup</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>